/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --secodary-font-family: 'Caveat Brush', cursive;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 770px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 760px;
  }
}

@media (min-width: 1300px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1060px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  color: #2e2520;
  background-color: #fffff9;
}

.title {
  font-family: 'Caveat Brush';
  font-size: 24px;
  line-height: 1.25em;
  text-align: center;
}

@media (min-width: 1300px) {
  .title {
    font-size: 36px;
    line-height: 1.8em;
  }
}

.btn {
  font-family: 'Caveat Brush';
  line-height: 1.27em;
  text-align: center;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: #ab816c;
}

.page-header {
  position: relative;
}

.page-header__nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    width: 480px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header__nav {
    width: 768px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__logo {
  padding-top: 38px;
}

@media screen and (max-width: 767px) {
  .page-header__logo {
    padding-top: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header__logo {
    padding-top: 36px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-left: 112px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .site-nav {
    margin-left: 33px;
  }
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 162px;
}

@media screen and (max-width: 1279px) {
  .site-nav__list {
    display: none;
  }
}

.site-nav__list-item:not(:first-child) {
  margin-left: 20px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 58px;
  padding-bottom: 58px;
  color: #2e2520;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #ab816c;
}

.menu-button {
  background-color: transparent;
  border: 1px solid #2e2520;
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-button {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-button__icon-menu {
  display: block;
}

@media (min-width: 320px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 320px) {
  .about-us__position {
    width: 279px;
    margin: 16px 21px 16px 20px;
  }
}

@media (min-width: 770px) {
  .about-us__position {
    width: 336px;
    margin: 25px 32px 40px 32px;
  }
}

@media (min-width: 1300px) {
  .about-us__position {
    width: 392px;
    margin: 0 125px 22px 139px;
  }
}

.about__title {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 320px) {
  .about__title {
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
  }
}

@media (min-width: 770px) {
  .about__title {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .about__title {
    font-size: 36px;
    line-height: 1.8;
    padding-bottom: 10px;
  }
}

.about__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 320px) {
  .about__text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: 770px) {
  .about__text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: 1300px) {
  .about__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media (min-width: 320px) {
  .about__p--read-more {
    display: none;
  }
}

@media (min-width: 770px) {
  .about__p--read-more {
    display: none;
  }
}

@media (min-width: 1300px) {
  .about__p--read-more {
    display: block;
  }
}

.about__p:not(:last-child) {
  padding-bottom: 22px;
  padding-right: 5px;
}

@media (min-width: 770px) {
  .dignity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 320px) {
  .feature {
    width: 290px;
  }
}

@media (min-width: 770px) {
  .feature {
    width: 365px;
  }
}

@media (min-width: 1300px) {
  .feature {
    width: 400px;
  }
}

.feature__title {
  font-family: var(--secodary-font-family);
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #2e2520;
  text-align: center;
  margin-bottom: 8px;
}

@media (min-width: 770px) {
  .feature__title {
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .feature__title {
    font-size: 36px;
    line-height: 65px;
  }
}

.feature__list {
  margin-bottom: 16px;
}

@media (min-width: 1300px) {
  .feature__list {
    margin-bottom: 0;
  }
}

.feature__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

@media (min-width: 1300px) {
  .feature__text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

.feature__item {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2e2520;
  margin-bottom: 8px;
}

@media (min-width: 1300px) {
  .feature__item {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }
}

.feature__item:last-child {
  margin-bottom: 0;
}

.button__read-more {
  font-family: var(--secodary-font-family);
  font-size: 18px;
  line-height: 23px;
  padding: 20px 10px 20px 5px;
  font-weight: 400;
  color: #ab816c;
  border: none;
  background: none;
}

.button__read-more:focus, .button__read-more:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media (min-width: 1300px) {
  .button__read-more {
    display: none;
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.feature__item-conclusions {
  display: none;
}

@media (min-width: 1300px) {
  .feature__item-conclusions {
    display: block;
  }
}

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 358px;
  width: 320px;
}

@media (max-width: 769px) {
  .event {
    margin-top: 35px;
  }
}

@media (min-width: 770px) and (max-width: 1299px) {
  .event {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 45px;
    width: 350px;
    height: 430px;
  }
}

@media (min-width: 1300px) {
  .event {
    width: 550px;
    margin-top: 45px;
    height: 550px;
  }
}

.event-plan-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 770px) {
  .event-plan-left {
    margin-right: 15px;
  }
}

@media (min-width: 1300px) {
  .event-plan-left {
    margin-right: 15px;
  }
}

.event-plan__item-douwn {
  margin-bottom: 59px;
}

@media (min-width: 770px) {
  .event-plan__item-douwn {
    margin-bottom: 50px;
  }
}

@media (min-width: 1300px) {
  .event-plan__item-douwn {
    margin-bottom: 80px;
  }
}

.event-plan__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 130px;
  height: 130px;
  text-align: center;
  border-radius: 50%;
  color: #674d40;
  background: #fef3e4;
  -webkit-box-shadow: 2px 4px 5px rgba(171, 129, 108, 0.25), -2px 4px 5px rgba(171, 129, 108, 0.25);
          box-shadow: 2px 4px 5px rgba(171, 129, 108, 0.25), -2px 4px 5px rgba(171, 129, 108, 0.25);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.event-plan__link:hover, .event-plan__link:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 2px 9px 50px rgba(171, 129, 108, 0.25), -2px 6px 20px rgba(171, 129, 108, 0.25);
          box-shadow: 2px 9px 50px rgba(171, 129, 108, 0.25), -2px 6px 20px rgba(171, 129, 108, 0.25);
}

@media (min-width: 770px) {
  .event-plan__link {
    width: 152px;
    height: 152px;
  }
}

@media (min-width: 1300px) {
  .event-plan__link {
    width: 180px;
    height: 180px;
  }
}

.event-plan__title {
  font-family: var(--secodary-font-family);
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 4px;
}

@media (min-width: 770px) {
  .event-plan__title {
    margin-bottom: 14px;
  }
}

@media (min-width: 1300px) {
  .event-plan__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
}

.event-plan__text {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 100%;
  margin-bottom: 9px;
}

@media (min-width: 770px) {
  .event-plan__text {
    margin-bottom: 10px;
  }
}

@media (min-width: 1300px) {
  .event-plan__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}

.event-plan__icon-primary {
  position: absolute;
  top: -34px;
  left: 27px;
  height: 80px;
  width: 75px;
}

@media (min-width: 770px) {
  .event-plan__icon-primary {
    height: 80px;
    width: 75px;
    top: -30px;
    left: 40px;
  }
}

@media (min-width: 1300px) {
  .event-plan__icon-primary {
    top: -40px;
    left: 40px;
    height: 100px;
    width: 95px;
  }
}

.event-plan__icon-secondary {
  fill: currentColor;
  height: 20px;
  width: 21px;
  margin-bottom: 10px;
}

@media (min-width: 770px) {
  .event-plan__icon-secondary {
    margin-bottom: 14px;
  }
}

@media (min-width: 1300px) {
  .event-plan__icon-secondary {
    margin-bottom: 16px;
  }
}

.container-contact {
  padding-top: 32px;
  text-align: center;
}

.contact-title {
  margin-bottom: 16px;
}

@media (min-width: 770px) {
  .contact-title {
    margin-bottom: 20px;
  }
}

.conact-secondary-title {
  margin-bottom: 16px;
  font-size: 16px;
}

@media (min-width: 1300px) {
  .conact-secondary-title {
    font-size: 18px;
  }
}

.contact-form-block__label {
  display: none;
}

.contact-form-block__input {
  border: none;
  width: 280px;
  height: 20px;
  border-bottom: 1px solid #ab816c;
  outline: none;
}

@media (min-width: 770px) and (max-width: 1299px) {
  .contact-form-block__input {
    width: 336px;
  }
}

@media (min-width: 1300px) {
  .contact-form-block__input {
    width: 394px;
  }
}

.contact-form-block__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25em;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form-block__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25em;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form-block__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25em;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form-block__input::placeholder {
  font-size: 16px;
  line-height: 1.25em;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form-block:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 770px) and (max-width: 1299px) {
  .contact-form-block:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (min-width: 1300px) {
  .contact-form-block:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contact-form-block + .contact-form-block {
  margin-bottom: 32px;
}

@media (min-width: 1300px) {
  .btn {
    width: 182px;
    height: 45px;
  }
}

.container-footer {
  text-align: center;
  padding-top: 32px;
}

.address {
  margin-bottom: 20px;
}

.address-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-block__phone, .address-block__city {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.22em;
  color: #2e2520;
}

.social-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.89;
  margin-bottom: 32px;
}

@media (min-width: 770px) {
  .social-section {
    margin-bottom: 60px;
  }
}

@media (min-width: 1300px) {
  .social-section {
    margin-bottom: 80px;
  }
}

.social-icon:not(:last-child) {
  margin-right: 16px;
}

.social-icon__svg {
  width: 16px;
  height: 16px;
  background-color: aqua;
}
/*# sourceMappingURL=index.css.map */