<section class="container container-contact" >

    <h1 class="title contact-title">Contact</h1>
    <p class="conact-secondary-title">We will answer any question!</p>

    <form action="" class="contact-form" name="contat-form">

        <div class="contact-form-block">
            <label for="email" class="contact-form-block__label">Email</label>
            <input type="email" name="email" class="contact-form-block__input" placeholder="Email">
        </div>
        <div class="contact-form-block">
            <label for="question" class="contact-form-block__label">Type your question</label>
            <input type="text" name="question" class="contact-form-block__input" placeholder="Type your question">
        </div>

        <button type="submit" class="btn contact-btn">Send</button>

    </form>

</section>