<section class="hero overlay">
    <h1 class="hero__title">
        Donut Masterclass <br>
        with the Donut King
    </h1>

    <p class="hero__text">Hosted by Eva Green</p>
    <button type="button" class="hero__btn btn">Register</button>
    <ul class="social-cardset list">
        <li class="social-card">
            <a href="/" class="social-card__link link" aria-label="Twitter">
                <!-- <svg class="social-card__icon">
                    <use href="./images/icons/symbol-defs.svg#icon-twitter"></use>
                </svg> -->
                Twitter
            </a>
        </li>

        <li class="social-card">
            <a href="/" class="social-card__link link" aria-label="Instagram">
                <!-- <svg class="social-card__icon">
                    <use href="./images/icons/symbol-defs.svg#icon-insta"></use>
                </svg> -->
                Instagram
            </a>
        </li>
    
        <li class="social-card">
            <a href="/" class="social-card__link link" aria-label="Facebook">
                <!-- <svg class="social-card__icon">
                    <use href="./images/icons/symbol-defs.svg#icon-facebook"></use>
                </svg> -->
                Facebook
            </a>
        </li>
    </ul>
</section>