<section class="hero overlay">
    <h1 class="hero__title">
        Donut Masterclass <br>
        with the Donut King
    </h1>

    <p class="hero__text">Hosted by Eva Green</p>
    <button type="button" class="hero__btn btn">Register</button>
    <ul class="social-cardset list">
        <li class="social-card">
            <a href="/" class="social-card__link link" aria-label="Twitter">
                <svg class="social-card__icon" width="16px" height="16px">
                    <use href="/src/images/sprite.svg#twitter"></use>
                </svg>
            </a>
        </li>

        <li class="social-card">
            <a href="/" class="social-card__link link" aria-label="Instagram">
                <svg class="social-card__icon" width="16px" height="16px">
                    <use href="/src/images/sprite.svg#instagram"></use>
                </svg>
            </a>
        </li>
    
        <li class="social-card">
            <a href="/" class="social-card__link link" aria-label="Facebook">
                <svg class="social-card__icon" width="16px" height="16px">
                    <use href="/src/images/sprite.svg#facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>