<div class="mobile-backdrop is-hidden" mobile-menu>
    <div class="container mobile-backdrop__container">
        <div class="mobile-menu">
            <button type="button" class="mobile-menu-close-button" mobile-menu-close>
                <svg class="mobile-menu-close-button__icon">
                    <use href="/src/images/sprite.svg#close"></use>
                </svg>
            </button>
        
            <div class="mobile-menu-nav">
                <nav class="mobile-site-nav">
                    <a href="/src/index.html" class="logo mobile-menu__logo">
                        <svg class="mobile-menu__logo-icon" width="190" height="85">
                            <use href="/src/images/sprite.svg#logo"></use>
                        </svg>
                    </a>

                    <ul class="mobile-menu-nav___list list">
                        <li class="mobile-menu-nav__list-item item">
                            <a href="#about-us" class="mobile-menu-nav__link link">
                                About us
                            </a>
                        </li>
                        <li class="mobile-menu-nav__list-item item">
                            <a href="#program" class="mobile-menu-nav__link link">
                                Program
                            </a>
                        </li>
                        <li class="mobile-menu-nav__list-item item">
                            <a href="#reviews" class="mobile-menu-nav__link link">
                                Reviews
                            </a>
                        </li>
                        <li class="mobile-menu-nav__list-item item">
                            <a href="#contact" class="mobile-menu-nav__link link">
                                Contacts
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>