<section class="container">
    <div class="dignity">
        <div class="feature">
            <h2 class="feature__title">Program</h2>
            <p class="feature__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
                in her New York donut shop!</p>
            <ul class="feature__list">
                <li class="feature__item">&#62; A stand up history of donuts</li>
                <li class="feature__item">&#62; Make 3 donut flavors of your choice</li>
                <li class="feature__item">&#62; Enjoy all-you-can-eat donuts</li>
                <li class="feature__item">&#62; Cocktail pairings and coffee included</li>
                <li class="feature__item">&#62; Photoshoot by professional photographer</li>
                <li class="feature__item">&#62; Secret receipt of cooking from Eva</li>
                <li class="feature__item">&#62; All products are included in the price</li>
                <li class="feature__item feature__item-conclusions" id="more" id="dots" type="display: none;">
                    Come with your dear people and friends
                    and you will spend an unforgettable time and
                    will become a real professional
                    in donuts cooking!</li>
                <span id="dots"></span>
            </ul>
            <button type="button" class="button__read-more" onclick="myFunction()" id="myBtn">Read
                more</button>
        </div>
        <article class="event">
            <div class=" event-plan-left">
                <ul class="event-plan__list-left">
                    <li class="event-plan__item event-plan__item-douwn">
                        <a href="#" class="event-plan__link">
                            <img src="../src/images/program/mobile/pic-3.png"
                                srcset="../src/images/program/mobile/pic-3.png 1x, ../src/images/program/mobile/pic-3@2x-3.png 2x"
                                alt="Пончик" class="event-plan__icon-primary">
                            <p class="event-plan__title">Type of the event</p>
                            <p class="event-plan__text">Cooking classes</p>
                            <svg class="event-plan__icon-secondary">
                                <use href="../src/images/sprite.svg#hat"></use>
                            </svg>
                        </a>
                    </li>
                    <li class=" event-plan__item">
                        <a href="#" class="event-plan__link">
                            <img src="../src/images/program/pc/pic-2.png"
                                srcset="../src/images/program/pc/pic-2.png 1x, ../src/images/program/pc/pic@2x-2.png 2x"
                                alt="Пончик" class="event-plan__icon-primary">
                            <p class="event-plan__title">Time of the event</p>
                            <p class="event-plan__text">18:30 (2.5 hours)</p>
                            <svg class="event-plan__icon-secondary">
                                <use href="../src/images/sprite.svg#clock"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class=" event-plan-right">
                <ul class="event-plan__list-right">
                    <li class="event-plan__item event-plan__item-douwn">
                        <a href="#" class="event-plan__link">
                            <img src="../src/images/program/pc/pic-3.png"
                                srcset="../src/images/program/pc/pic-3.png 1x, ../src/images/program/pc/pic@2x-3.png 2x"
                                alt="Пончик" class="event-plan__icon-primary">
                            <p class="event-plan__title">Number of guests</p>
                            <p class="event-plan__text">1 to 20</p>
                            <svg class="event-plan__icon-secondary">
                                <use href="../src/images/sprite.svg#people"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="event-plan__item">
                        <a href="#" class="event-plan__link">
                            <img src="../src/images/program/pc/pic-1.png"
                                srcset="../src/images/program/pc/pic-1.png 1x, ../src/images/program/pc/pic@2x-1.png 2x"
                                alt="Пончик" class="event-plan__icon-primary">
                            <p class="event-plan__title">The host speaks</p>
                            <p class="event-plan__text">English, French</p>
                            <svg class="event-plan__icon-secondary">
                                <use href="../src/images/sprite.svg#chat"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
    <script>    function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Less";
                moreText.style.display = "inline";
            }
        }</script>

</section>