<section class="container">
    <div class="dignity">
        <div class="feature">
            <h2 class="feature__title">Program</h2>
            <p class="feature__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
                in her New York donut shop!</p>
            <ul class="feature__list">
                <li class="feature__item">&#62; A stand up history of donuts</li>
                <li class="feature__item">&#62; Make 3 donut flavors of your choice</li>
                <li class="feature__item">&#62; Enjoy all-you-can-eat donuts</li>
                <li class="feature__item">&#62; Cocktail pairings and coffee included</li>
                <li class="feature__item">&#62; Photoshoot by professional photographer</li>
                <li class="feature__item">&#62; Secret receipt of cooking from Eva</li>
                <li class="feature__item">&#62; All products are included in the price</li>
                <li class="feature__item">Come with your dear people and friends
                    and you will spend an unforgettable time and
                    will become a real professional
                    in donuts cooking!</li>
            </ul>
        </div>
        <article class="event">
            <div class=" event-plan-left">
                <ul class="event-plan__list-left">
                    <li class="event-plan__item">
                        <use><svg class="event-plan__icon-donut"></svg></use>
                        <p class="event-plan__title">Type of the event</p>
                        <p class="event-plan__text">Cooking classes</p>
                        <use><svg class="event-plan__icon"></svg></use>
                    </li>
                    <li class="event-plan__item">
                        <use><svg class="event-plan__icon-donut"></svg></use>
                        <p class="event-plan__title">Time of the event</p>
                        <p class="event-plan__text">18:30 (2.5 hours)</p>
                        <use><svg class="event-plan__icon"></svg></use>
                    </li>
                </ul>
            </div>
            <div class=" event-plan-right">
                <ul class="event-plan__list-right">
                    <li class="event-plan__item">
                        <use><svg class="event-plan__icon-donut"></svg></use>
                        <p class="event-plan__title">Number of guests</p>
                        <p class="event-plan__text">1 to 20</p>
                        <use><svg class="event-plan__icon"></svg></use>
                    </li>
                    <li class="event-plan__item">
                        <use><svg class="event-plan__icon-donut"></svg></use>
                        <p class="event-plan__title">The host speaks</p>
                        <p class="event-plan__text">English, French</p>
                        <use><svg class="event-plan__icon"></svg></use>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>