<section class="container" id="contact-reviews">
  <div class="reviews">
    <h2 class="feature__title">Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide__1">
          <div class="reviews-card">
            <picture>
              <source
                srcset="
                  ./images/reviews/pc/john-desctop.jpg    1x,
                  ./images/reviews/pc/john-desctop@2x.jpg 2x
                "
                media="(min-width:1300px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/reviews/tablet/john-tablet.jpg    1x,
                  ./images/reviews/tablet/john-tablet@2x.jpg 2x
                "
                media="(min-width:770px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/reviews/mobile/john-mobile.png    1x,
                  ./images/reviews/mobile/john-mobile@2x.png 2x
                "
                media="(max-width:769px)"
                type="image/png"
              />
              <img
                src="./images/reviews/pc/john-desctop.jpg"
                alt="customer John review"
                class="review-card__img review-card__img--john"
              />
            </picture>
            <div class="reviews-card__stars">
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon reviews-card__stars--icon-empty"
                  href="./images/sprite.svg#star-empty"
                  width="24px"
                ></use>
              </svg>
            </div>
            <article class="reviews-card__name">
              <p>John</p>
            </article>
          </div>
        </div>
        <div class="swiper-slide swiper-slide__2">
          <div class="reviews-card">
            <picture>
              <source
                srcset="
                  ./images/reviews/pc/will-desctop.jpg    1x,
                  ./images/reviews/pc/will-desctop@2x.jpg 2x
                "
                media="(min-width:1300px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/reviews/tablet/will-tablet.jpg    1x,
                  ./images/reviews/tablet/will-tablet@2x.jpg 2x
                "
                media="(min-width:770px)"
                type="image/jpg"
              />

              <source
                srcset="
                  ./images/reviews/mobile/will-mobile.jpg    1x,
                  ./images/reviews/mobile/will-mobile@2x.jpg 2x
                "
                media="(max-width:769px)"
                type="image/jpg"
              />
              <img
                src="./images/reviews/pc/will-desctop.jpg"
                alt="customer Will review"
                class="review-card__img review-card__img--will"
              />
            </picture>
            <div class="reviews-card__stars">
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
            </div>
            <article class="reviews-card__name">
              <p>Will</p>
            </article>
            <article class="reviews-card__text">
              <p>
                Last time I have visited a cooking course by Eva I was impressed
                with the way she explained everything to people. You can be sure
                you will manage to cook a delicious dish even if it is your
                first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly
                recommend it to everyone!
              </p>
            </article>
            <img
              class="reviews-card__pagination"
              src="./images/reviews/pagination.png"
              alt="pagination"
            />
          </div>
        </div>
        <div class="swiper-slide swiper-slide__3">
          <div class="reviews-card">
            <picture>
              <source
                srcset="
                  ./images/reviews/pc/elisa-desctop.jpg    1x,
                  ./images/reviews/pc/elisa-desctop@2x.jpg 2x
                "
                media="(min-width:1300px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/reviews/tablet/elisa-tablet.jpg    1x,
                  ./images/reviews/tablet/elisa-tablet@2x.jpg 2x
                "
                media="(min-width:770px)"
                type="image/jpg"
              />

              <source
                srcset="
                  ./images/reviews/mobile/elisa-mobile.png    1x,
                  ./images/reviews/mobile/elisa-mobile@2x.png 2x
                "
                media="(max-width:769px)"
                type="image/png"
              />

              <img
                src="./images/reviews/pc/elisa-desctop.jpg"
                alt="customer Elisa review"
                class="review-card__img review-card__img--elisa"
              />
            </picture>
            <div class="reviews-card__stars">
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
              <svg>
                <use
                  class="reviews-card__stars--icon"
                  href="./images/sprite.svg#star-filled"
                  width="24px"
                ></use>
              </svg>
            </div>
            <article class="reviews-card__name">
              <p>Elisabeth</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
