.about-us {
  @include for-phone-only {
    display: block;
  }

  @include for-tablet-up {
    display: flex;
    justify-content: flex-end;
  }

  @include for-desktop-up {
    display: flex;
    justify-content: flex-end;
  }
}

.about-us__position {
  @include for-phone-up {
    width: 279px;
    padding-bottom: 16px;
  }

  @include for-tablet-up {
    width: 336px;
    padding-bottom: 51px;
  }

  @include for-desktop-up {
    width: 392px;
    padding-bottom: 66px;
  }
}

.about__title {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  color: getColor('primary-text');

  @include for-phone-up {
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
  }

  @include for-tablet-up {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
  }

  @include for-desktop-up {
    font-size: 36px;
    line-height: 1.8;
    padding-bottom: 10px;
    padding-top: 43px;
  }
}

.about__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: getColor('primary-text');

  @include for-phone-up {
    font-size: 16px;
    line-height: 1.25;
  }

  @include for-tablet-up {
    font-size: 16px;
    line-height: 1.25;
  }

  @include for-desktop-up {
    font-size: 18px;
    line-height: 1.22;
  }

}

.about__p {
  @include for-phone-up {
    &--read-more {
      display: none;
    }
  }

  @include for-tablet-up {
    &--read-more {
      display: none;
    }
  }

  @include for-desktop-up {
    &--read-more {
      display: block;
    }
  }
}

.about__p:not(:last-child) {
  padding-bottom: 22px;
  padding-right: 5px;
}

.style-btn {
  @include for-phone-up {
    width: 67px;
    height: 23px;
    padding: 0;
    color: #AB816C;
    background: none;
  }

  @include for-tablet-up {}

  @include for-desktop-up {
    display: none;
  }
}

.about-us__img {
  position: inherit;
  display: flex;
}

.cupcake {
  @media (max-width: 769px) {
    padding-bottom: 16px;
  }

  @media (min-width: 770px) and (max-width: 1299px) {
    padding-right: 31px;

  }

  @include for-desktop-up {
    padding-right: 139px;
  }
}

.spoon {
  @media (max-width: 1299px) {
    display: none;
  }

  @include for-desktop-up {
    position: absolute;
    left: -103px;
    top: 220px;
  }
}