ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  color: getColor('text-primary');
  background-color: getColor('registration-form-background');
}

.title {
  font-family: 'Caveat Brush';
  font-size: 24px;
  line-height: 1.26em;
  text-align: center;
  @include for-desktop-up {
    font-size: 36px;
    line-height: 1.8em;
  }
}

.btn {
  font-family: 'Caveat Brush';
  line-height: 1.27em;
  text-align: center;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: getColor('button-text');
  background: getColor('accent');

  @include for-desktop-up {
    font-size: 24px;
    line-height: 1.26em;
  }

  &:hover, &:focus{
	  box-shadow: -4px -4px 4px getColor('registration-form-shadow'), 4px 4px 4px getColor('registration-form-shadow');
	}
}
