.container-contact {
    text-align: center;
    @include for-desktop-up {
        background-image: url(/src/images/registration/pc/confetti.png);
        background-size: 605px 589px;
        background-repeat: no-repeat;
        background-position: 614px -457px;
        overflow: hidden;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(/src/images/registration/pc/confetti@2x.png);
        }

    }
}

.contact-title {
    margin-bottom: 16px;
    @include for-tablet-up {
        margin-bottom: 20px;
    }
    @include for-desktop-up {
        line-height: 1.26em;
    }
}

.conact-secondary-title {

    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.22em;

    @include for-desktop-up {
        font-size: 18px;
    }
}

.contact-form-block {

    &__input {  
        border: none;
        width: 280px;
        height: 20px;
        border-bottom: 1px solid getColor('accent');
        font-size: 16px;
        line-height: 1.22em;
        outline: none;
        background: none;
        @include for-tablet-only {
            width: 336px;
        }
        
        @include for-desktop-up {
            width: 394px;
        }
        
        &:invalid {
            border-color: red;
        }
    }   

    &__input::placeholder {
        font-size: 16px;
        line-height: 1.22em;
        color: getColor('form-text');
    }
}

.contact-form-block:not(:last-child) {
    margin-bottom: 20px;

    @include for-tablet-only {
        margin-bottom: 16px;
    }
    @include for-desktop-up {
        margin-bottom: 15px;
    }
}

.contact-form-block + .contact-form-block {
    margin-bottom: 32px;
}

.btn {
    @include for-desktop-up {
        width: 182px;
        height: 45px;
    }
}