.container {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;

	@include for-phone-up{
		width: 320px;
	}

	@include for-tablet-up {
		padding-left: 30px;
		padding-right: 30px;
		width: 760px;
	}

	@include for-desktop-up {
		padding-left: 15px;
		padding-right: 15px;
		width: 1060px;
	}
}