.container-contact {
    padding-top: 32px;
    text-align: center;
}

.contact-title {
    margin-bottom: 16px;
    @include for-tablet-up {
        margin-bottom: 20px;
    }
}

.conact-secondary-title {

    margin-bottom: 16px;
    font-size: 16px;

    @include for-desktop-up {
        font-size: 18px;
    }
}

.contact-form-block {

    &__label {
        display: none;
    }

    &__input {  
        border: none;
        width: 280px;
        height: 20px;
        border-bottom: 1px solid getColor('accent');
        outline: none;

        @include for-tablet-only {
            width: 336px;
        }
        
        @include for-desktop-up {
            width: 394px;
        }
    }   

    &__input::placeholder {
        font-size: 16px;
        line-height: 1.25em;
        color: getColor('form-text');
    }
}

.contact-form-block:not(:last-child) {
    margin-bottom: 20px;

    @include for-tablet-only {
        margin-bottom: 16px;
    }
    @include for-desktop-up {
        margin-bottom: 15px;
    }
}

.contact-form-block + .contact-form-block {
    margin-bottom: 32px;
}

.btn {
    @include for-desktop-up {
        width: 182px;
        height: 45px;
    }
}