.page-header {
    position: relative;

    &__nav {
        margin: 0 auto;
        display: flex;
    
        @media screen and (max-width: 767px) {
            width: 480px;
    
            justify-content: space-between;
            align-items: center;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            width: 768px;
            
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        padding-top: 38px;

        @media screen and (max-width: 767px) {
            padding-top: 8px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding-top: 36px;
        }
    }
}

.site-nav {
    display: flex;
    align-items: center;
    margin-left: 19px;

    @media screen and (max-width: 767px) {
        margin-left: 112px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-left: 33px;
    }

    &__list {
        display: flex;
        margin-left: 162px;

        @media screen and (max-width: 1279px) {
            display: none;
        }

        &-item:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__link {
        position: relative;

        display: block;
        padding-top: 58px;
        padding-bottom: 58px;

        color: getColor('text-primary');
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
        text-decoration: none;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: getColor('accent');
        }
    }
}

.menu-button {
    background-color: transparent;
    border: 1px solid getColor('text-primary');

    @media screen and (max-width: 767px) {
        margin-right: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }

    &__icon {
        &-menu {
            .menu-button & {
                display: block;
            }
        }
    }
}

