.hero {
  width: 1280px;
  margin: 0 auto;
  padding-top: 42px;
  padding-left: 19px;
  padding-bottom: 154px;
  text-align: start;

  @media screen and (max-width: 767px) {
    width: 320px;
    margin: 0 auto;
    padding-top: 31px;
    padding-left: 0;
    padding-bottom: 6px;

    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    margin: 0 auto;
    padding-top: 16px;
    padding-left: 33px;
    padding-bottom: 90px;
  }

  &__title {
    @media screen and (max-width: 1279px) {
      font-size: 30px;
      line-height: 1.27;
    }

    color: getColor('text-primary');
    font-family: Caveat Brush;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.02;

    margin-top: 0;
    margin-bottom: 8px;
  }

  &__text {
    @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.22;
      margin-bottom: 32px;
      text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.22;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 32px;
    }
  }

  &__btn {
    display: inline-block;
    margin-bottom: 32px;
    min-width: 145px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1279px) {
      max-width: 145px;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 9px;
      font-size: 18px;
      line-height: 1.28;
      text-align: center;
    }
  }
}

.social-cardset {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.social-card {
  &:not(:first-child) {
    margin-left: 16px;
  }

  &__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      fill: getColor('accent');
    }
  }
}
