.mobile-backdrop {
  @media screen and (max-width: 1279px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity 250ms $timing-function;

    &__container {
      position: relative;
      width: 100%;
      height: 100%;

      background-color: getColor('menu-background');
    }
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.mobile-menu {
  position: relative;
  // top: 0;
  // left: 0;
  // width: 480px;
  height: 100%;
  background-color: transparent;
  margin: 0 auto;

  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }

  &__logo-icon {
    margin-bottom: 40px;
  }

  &-close-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-top: 25px;
      margin-right: 47px;
    }

    background-color: transparent;

    border: none;

    cursor: pointer;

    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus,
    &:active {
      background-color: getColor('menu-background');
    }

    &__icon {
      margin: 0;
      width: 18px;
      height: 18px;

      fill: getColor('text-primary');

      transition: fill 250ms $timing-function;

      .mobile-menu-close-button:hover &,
      .mobile-menu-close-button:focus & {
        fill: getColor('accent');
      }
    }
  }
}

.mobile-menu-nav {
  padding-left: 66px;
  padding-top: 25px;
  padding-bottom: 64px;
  padding-right: 83px;

  &__list {
    &-item:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  &__link {
    display: block;

    color: getColor('text-primary');
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
}

.mobile-site-nav {
  display: block;
  text-align: center;
}
