.overlay-top {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url(../src/images/background/pc/bg-top.svg);
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    background-image: url(../src/images/background/mobile/bg-top.svg);
  }

  @media screen and (min-width: 688px) and (max-width: 767px) {
    background-size: cover;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../src/images/background/tablet/bg-top.svg);
  }

  @media screen and (min-width: 960px) and (max-width: 1279px) {
    background-size: cover;
  }

  @media screen and (min-width: 1460px) {
    background-size: cover;
  }

  &--donuts {
    background-image: url(../src/images/hero/pc/hero-donuts.png);
    background-repeat: no-repeat;
    background-size: 762px 651px;
    background-position: top 0 right 0;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../src/images/hero/pc/hero-donuts@2x.png);
    }

    @media screen and (max-width: 768px) {
      background-image: url(../src/images/hero/mobile/pic-donuts.png);
      background-repeat: no-repeat;
      background-size: 130px 165px;
      background-position: top -51px left -12px;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../src/images/hero/mobile/pic-donuts@2x.png);
      }
    }

    

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      background-image: url(../src/images/hero/tablet/pic-donuts.png);
      background-repeat: no-repeat;
      background-size: 363px 353px;
      background-position: top 0 right 117px;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../src/images/hero/tablet/pic-donuts@2x.png);
      }
    }
  }
}
