.dignity {
  @include for-tablet-up {
    display: flex;
    justify-content: space-around;
    @include for-desktop-up {
    }
  }
}
.feature {
  @include for-phone-up {
    width: 290px;
  }
  @include for-tablet-up {
    width: 365px;
  }
  @include for-desktop-up {
    width: 400px;
  }
}
// Заголовок
.feature__title {
  font-family: var(--secodary-font-family);
  font-style: normal;
  font-size: 36px;
  line-height: 65px;
  color: getColor('text-primary');
  text-align: center;
  margin-bottom: 8px;
  @include for-tablet-up {
    text-align: left;
  }
}
.feature__list {
  margin-bottom: 16px;
  @include for-desktop-up {
    margin-bottom: 0;
  }
}
//
.feature__text {
  margin-bottom: 8px;
  @include for-desktop-up {
    margin-bottom: 20px;
  }
}
// Описание
.feature__item {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: getColor('text-primary');
  margin-bottom: 8px;
  @include for-desktop-up {
    margin-bottom: 16px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// Кнопка Read more и текст
.button__read-more {
  font-family: var(--secodary-font-family);
  font-size: 18px;
  line-height: 23px;
  padding: 20px 10px 20px 5px;
  color: getColor('accent');
  border: none;
  background: none;
  &:focus,
  &:hover {
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
  }
  @include for-desktop-up {
    display: none;
  }
}
// Анимация кнокпи прыжок
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.feature__item-conclusions {
  display: none;
  @include for-desktop-up {
    display: block;
  }
}
// Пончики
.event {
  display: flex;
  justify-content: space-around;
  height: 358px;
  width: 320px;
  @include for-phone-only {
    margin-top: 35px;
  }
  @include for-tablet-only {
    justify-content: flex-end;
    margin-top: 45px;
    width: 350px;
    height: 430px;
  }
  @include for-desktop-up {
    width: 550px;
    margin-top: 45px;
    height: 550px;
  }
}
.event-plan-right {
  display: flex;
  align-items: flex-end;
}
.event-plan-left {
  margin-right: 15px;
}
.event-plan__item-douwn {
  margin-bottom: 59px;
  @include for-tablet-up {
    margin-bottom: 50px;
  }
  @include for-desktop-up {
    margin-bottom: 80px;
  }
}
// Ссылка по ячейке с пончиками
.event-plan__link {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 130px;
  height: 130px;
  text-align: center;
  border-radius: 50%;
  background: #fef3e4;
  box-shadow: 2px 4px 5px hsla(0, 0, 0, 0.1), -2px 4px 5px hsla(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    transform: translateY(-3px);
    box-shadow: 2px 9px 50px hsla(0, 0, 0, 0.1),
      -2px 6px 20px hsla(0, 0, 0, 0.1);
  }
  @include for-tablet-up {
    width: 152px;
    height: 152px;
  }
  @include for-desktop-up {
    width: 180px;
    height: 180px;
  }
}

// 'Заголок' характеристики мероприятия
.event-plan__title {
  font-family: var(--secodary-font-family);
  font-size: 18px;
  line-height: 23px;
  color: getColor('donut-text');
  margin-bottom: 4px;
  @include for-tablet-up {
    margin-bottom: 14px;
  }
  @include for-desktop-up {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
}
.event-plan__text {
  font-size: 14px;
  line-height: 17px;
  color: getColor('donut-text');
  width: 100%;
  margin-bottom: 9px;
  @include for-tablet-up {
    margin-bottom: 10px;
  }
  @include for-desktop-up {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}
// Иконки пончиков
.event-plan__icon-primary {
  position: absolute;
  top: -34px;
  left: 27px;
  height: 80px;
  width: 75px;
  @include for-tablet-up {
    height: 80px;
    width: 75px;
    top: -30px;
    left: 40px;
  }
  @include for-desktop-up {
    top: -40px;
    left: 40px;
    height: 100px;
    width: 95px;
  }
}
// // Иконки под описанием

.event-plan__icon-secondary {
  height: 20px;
  width: 21px;
  margin-bottom: 10px;
  @include for-tablet-up {
    margin-bottom: 14px;
  }
  @include for-desktop-up {
    margin-bottom: 16px;
  }
}
