.reviews {
  padding-top: 30px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  display: flex;

  justify-content: center;
}

.swiper-slide {
  &__1,
  &__3 {
    align-self: start;
    @include for-phone-only {
      display: none;
    }
  }
  & + & {
    @include for-tablet-up {
      margin-left: 32px;
    }
  }
}
.swiper-slide__2 {
  height: 100%;
  @include for-tablet-up {
    margin-top: 80px;
  }
  @include for-desktop-up {
    margin-top: 145px;
  }
}
.feature__title {
  margin-bottom: 13px;
  font-family: var(--secodary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;

  color: getColor('text-primary');
}
.reviews-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  &--john,
  &--elisa {
    @include for-tablet-up {
      width: 152px;
    }
    @include for-desktop-up {
      width: 288px;
    }
  }
  &--will {
    @include for-tablet-up {
      width: 336px;
      // margin: auto;
    }
    @include for-desktop-up {
      width: 394px;
    }
  }
}
.reviews-card__stars {
  margin: 8px auto;
  width: 136px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: getColor('accent');
  fill: currentColor;
  &--icon {
    display: block;
  }
}
.reviews-card__stars--icon + .reviews-card__stars--icon {
  margin-left: 4px;
}
.reviews-card__stars--icon-empty {
  fill: getColor('secondary-background');
}
.reviews-card__name {
  font-family: var(--primary-font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: getColor('text-primary');
  margin-bottom: 8px;
}
.reviews-card__text {
  height: 100%;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 32px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: getColor('text-primary');

  // width: 280px;

  // @include for-tablet-up {
  //   width: 704px;
  // }
  // @include for-desktop-up {
  //   width: 1248px;
  // }
}
.reviews-card__pagination {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
